@import "../node_modules/bulma/sass/_index.scss";

.navbar {
  .navbar-brand {
    .navbar-item {
      &.is-active {
        background-color: lighten($info, 20%);
      }
    }
  }
}

.home {
  display: flex;

  .left-panel, .right-panel {
    flex-basis: 0;
    flex-grow: 1;
  }

  .leader-board {
    .player-1 {
      font-size: 150%;
    }
    .player-2 {
      font-size: 120%;
    }
  }

  .recent-games {
    width: 100%;
    height: calc(100vh - 7rem);
    overflow-y: auto;
    table {
      width: 100%;
      thead {
        tr {
          td {
            font-weight: bold;
          }
        }
      }
    }
    tr.shaded {
      background-color: #111111;
    }
  }
}

.suit-icon {
  &.hearts, &.diamonds {
    color: red;
  }
}


.player-summary {
  .points, .bid, .trick-count {
    padding-left: 5px;
    padding-right: 5px;
  }

  .points {
    margin-left: 5px;
    color: $black;
    background-color: lighten($info, 40%);
  }

  .bid {
    color: $info;
    background-color: lighten($info, 40%);
  }

  .trick-count {
    &.pending {
      color: $grey;
      background-color: lighten($grey, 40%);
    }
    &.made {
      color: $green;
      background-color: lighten($green, 40%);
    }
    &.set {
      color: $danger;
      background-color: lighten($danger, 30%);
    }
  }
  &.active {
    background-color: $info;
    .player-name {
      color: black;
    }
  }
}

.playing-card {
  user-select: none;
  -webkit-user-select: none;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 4px 4px 4px;
  min-width: 43px;
  min-height: 46px;
  display: inline-block;
  margin-left: 2px;
  margin-bottom: 2px;
  color: $black;
  background-color: #f0f0f0;

  &.face-down {
    background-color: lighten($info, 40%);
  }
  &.invisible {
    visibility: hidden;
  }
  &.playable {
    opacity: 1;
  }
  .player-initial {
    width: 100%;
    text-align: center;
    font-size: 80%;
  }
  &.unplayable {
    opacity: 0.5;
  }

  &.selectable {
    cursor: pointer;

    &:hover {
      color: $green;
    }
  }

  &.selected {
    color: $white;
    background-color: lighten($black, 20%);
  }

  &.winner {
    background-color: lighten($primary, 30%);
  }

  .suit-icon {
    margin-left: 2px;
  }
}

.current-player {
  .buttons {
    margin-top: 10px;
    .bid-button {
      font-size: 14px;
      min-width: 45px;
    }
  }
}

.play-area {
  .last-trick {
    opacity: 0.6;
  }
  .play-area-card {
    &.lead {
      .playing-card {
        border: 2px solid $orange;
      }
    }
  }
  .level-left {
    .playing-card {
      margin-right: 10px;
    }
  }
  .level-right {
    .playing-card {
      margin-left: 10px;
    }
  }
}

.setup-page {
  .card-header-icon {
    cursor: default;
  }
}
